# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* List of the commonly used libraries used by Data Scientists
* table of development environment open source tools used in data science

## Author :
Ali moubark

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. java

some of the commonly used libraries used by Data Scientists include:
* numpy
* pandas
* matplotlib

|Data Science Tools   |   
------------------
| jupyter  |
| rstudio |
| spyder  |

### Below are a few examples of evaluating arithmetic expressions in Python

+ '+'
- '-'
* '*'

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
 #This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
hours

3.3333333333333335